{% extends 'base/template.twig' %}

{% block content %}

{% include 'includes/navbar.twig' %}
<!--        BANNER PRINCIPAL        -->
<main class="mainBanner" id="fullpage">
    <section class="homeBanner">
        <a href="http://7php.phpmaranhao.com.br">
            <img src="assets/img/logo-7php.svg" class="blockCenter">
        </a>
        <!--            CODE REVOLUTION         -->
        <section class="codeRevolution container">
            <img src="/assets/img/coderevolution.svg" class="imgResponsive" width="200">
        </section>
    </section>
    <!--       SESSÃO O QUÊ        -->
    <section id="what">
        <header class="sectionHeader what">
            <div class="container">
                <h1>O quê</h1>
            </div>
        </header>
        <article class="container textWhite textJustify content">
            <p>
                O Fórum de Profissionais PHP ocorre anualmente em São Luis, MA com a proposta de promover o intercâmbio de ideias com o envolvimento de expoentes nacionais na linguagem número um da Web.
            </p>
            <p>
                Em sua sétima edição, que ocorrerá nos dias 10/11/2016 e 11/11/2016, sob o manto do tema "Code Revolution", o evento lança uma provocação nada sutil ao mercado de programação para que exalte a ousadia inovativa e que rompa os grilhões do pensamento obsoleto.
            </p>
        </article>
    </section>
    <!--        SESSÃO QUEM         -->
    <section class="sectionWho" id="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>QUEM</h1>
            </div>
        </header>
        <article class="container">
            <div class="grid gridResponsive">
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[0] }}/">
                        <figure class="capIn">
                            <img src="assets/img/img.png" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[0] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[1] }}/">
                        <figure class="capIn">
                            <img src="assets/img/img.png" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[1] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[2] }}/">
                        <figure class="capIn">
                            <img src="assets/img/speakers/fabio-soares.jpg" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[2] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>

            </div>
            <br>
            <div class="grid gridResponsive">
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[3] }}/">
                        <figure class="capIn">
                            <img src="assets/img/speakers/nanderson-castro.jpg" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[3] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[4] }}/">
                        <figure class="capIn">
                            <img src="assets/img/speakers/ricardo-coelho.jpg" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[4] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a href="{{ link_who }}/{{ speakerName[5] }}/">
                        <figure class="capIn">
                            <img src="assets/img/img.png" class="imgResponsive imgCenter">
                            <figcaption>
                                {{ speakerRealName[5] }}
                            </figcaption>
                        </figure>
                    </a>
                </div>

            </div>
            <br>
            <div class="grid gridResponsive">
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[6] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[6] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[7] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[7] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[8] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[8] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}

            {#</div>#}
            {#<div class="grid gridResponsive">#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[9] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[9] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[10] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[10] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[11] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[11] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="grid gridResponsive">#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[12] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[12] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[13] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[13] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="column">#}
                    {#<a href="{{ link_who }}/{{ speakerName[14] }}/">#}
                        {#<figure class="capIn">#}
                            {#<img src="assets/img/img.png" class="imgResponsive imgCenter">#}
                            {#<figcaption>#}
                                {#{{ speakerRealName[14] }}#}
                            {#</figcaption>#}
                        {#</figure>#}
                    {#</a>#}
                {#</div>#}
            </div>
            <br>
        </article>
    </section>
    <!--            SESSÃO QUANDO           -->
    <section class="sectionWhen" id="sectionWhen">
        <div class="sectionHeader when">
            <div class="container">
                <h1>Quando</h1>
            </div>
        </div>
        <article class="container content">
            <div class="grid">
                <div class="column textWhite blockCenter">
                    <!--         DATA       -->
                    <h1 class="date">10 e 11</h1>
                    <h1 class="date">NOVEMBRO</h1>
                    <h1 class="date">2016</h1>
                    <h2>Em São Luís, ilha do amor</h2>
                </div>
                <div class="column textCenter">
                    <!--         PROGRAMAÇÃO        -->
                    <a href="../public/assets/docs/programacao.md" download="programacao.md">
                        <img src="assets/img/programacao.svg" class="imgResponsive" width="150">
                    </a>
                </div>
            </div>
        </article>
        <br>
    </section>
    <!--     SESSÃO ONDE      -->
    <section class="sectionWhere" id="sectionWhere">
        <header class="sectionHeader where">
            <div class="container">
                <h1>Onde</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column textWhite textCenter">
                    <h2 class="adress">FACULDADE<br><strong>CEST</strong></h2>
                </div>
                <div class="column textWhite mTextCenter">
                    <p>
                        AVENIDA CASEMIRO JÚNIOR, 12<br>
                        BAIRRO ANIL, SÃO LUÍS<br>
                    </p>
                </div>
            </div>

            <!--Só pra não acabar com minha banda de dados móveis-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3985.8687477167264!2d-44.24267818574959!3d-2.549599439026684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f69030d0146f8b%3A0x874f6faa8c29b0a7!2sFaculdade+Santa+Teresinha!5e0!3m2!1sen!2sbr!4v1473021340378" width="1750" height="500" frameborder="0" style="border:0" allowfullscreen class="imgResponsive blockCenter"></iframe>

            <div class="textCenter textWhite">
                <h1>OU ABRA AS CORDENADAS NO APP</h1>
            </div>
        </article>
        <br>
    </section>
    <!--    SESSÃO QUANTO   -->
    <section class="sectionHowMuch" id="sectionHowMuch">
        <header class="sectionHeader howMuch">
            <div class="container">
                <h1>Quanto</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid">
                <div class="column textCenter textWhite">
                    <h1><small>SETEMBRO</small> 30 <small>REAIS</small></h1>
                </div>
            {#</div>#}
            {#<div class="grid">#}
                <div class="column textCenter textWhite">
                    <h1><small>OUTUBRO</small> 50 <small>REAIS</small></h1>
                </div>
            {#</div>#}
            {#<div class="grid">#}
                <div class="column textCenter textWhite">
                    <h1><small>NOVEMBRO</small> 70 <small>REAIS</small></h1>
                </div>
            </div>
            <div class="grid">
                <div class="column textCenter textWhite">
                    <a href="https://www.sympla.com.br/7php--forum-de-profissionais-php-do-maranhao__90935" target="_blank">
                        <img src="assets/img/sympla.png" class="imgResponsive">
                    </a>
                </div>
            </div>
        </article>
    </section>
    <!--    SESSÃO PATROCINADORES   -->
    <section class="sectionSponsorship" id="sectionSponsorship">
        <header class="sectionHeader sponsorship">
            <div class="container">
                <h1>Patrocínio</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column textCenter textWhite">
                    <a href="http://www.codeexpertslearning.com" target="_blank">
                        <img src="/assets/img/sponsorship/codeexperts.png" class="imgResponsive">
                    </a>
                </div>
                <div class="column textCenter textWhite">
                    <a href="http://www.heptum.com.br" target="_blank">
                        <img src="/assets/img/sponsorship/heptum.png" class="imgResponsive">
                    </a>
                </div>
                {#<div class="column textCenter textWhite">#}
                    {#<img src="/assets/img/img.png" class="imgResponsive">#}
                {#</div>#}
            </div>
        </article>
    </section>
    <!--    SESSÃO PARCEIROS   -->
    <section class="sectionPartiner" id="sectionPartiner">
        <header class="sectionHeader partiner">
            <div class="container">
                <h1>Parceiro</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column textCenter textWhite">
                    <a href="http://www.cest.edu.br/" target="_blank">
                        <img src="/assets/img/sponsorship/cest.png" class="imgResponsive">
                    </a>
                </div>
                {#<div class="column textCenter textWhite">#}
                    {#<img src="/assets/img/img.png" class="imgResponsive">#}
                {#</div>#}
                {#<div class="column textCenter textWhite">#}
                    {#<img src="/assets/img/img.png" class="imgResponsive">#}
                {#</div>#}
            </div>
        </article>
    </section>

</main>
<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/scroll.js"></script>
<script type="text/javascript" src="/assets/js/nav.js"></script>
{% endblock %}
