{% extends '/templates/templateWhen.twig' %}

{% block content %}
    {% include '/includes/navbar.twig' %}
    <main class="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>Programação</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column">
                    <h1 class="textCenter textWhite">DIA 10</h1>
                    <section id="timeline" class="timelineContainer">

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>
                            <div class="timelineContent">
                                <h2>CREDENCIAMENTO</h2>
                                <span class="timelineDate">10 de Novembro - 8:00</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>
                            <div class="timelineContent">
                                <h2>ABERTURA DE SOLENIDADE</h2>
                                <span class="timelineDate">10 de Novembro - 8:40</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Helena Samirez</h2>
                                <p>O Poder das comunidades de Tecnologia</p>
                                <a href="{{ link_who }}/{{ speakerName[1] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 9:00</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Evaldo Barbosa</h2>
                                <p>Por que é tão difícil um programador empreender?</p>
                                <a href="{{ link_who }}/{{ speakerName[5] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 9:40</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Willian Mano</h2>
                                <p>Fazer software livre é fácil, difícil é manter.</p>
                                <a href="{{ link_who }}/{{ speakerName[9] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 10:50</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Alisson Gomes</h2>
                                <p>Laravel Passport: API Authentication - You Have the Power.</p>
                                <a href="{{ link_who }}/{{ speakerName[11] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 10:50</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Ricardo Coelho</h2>
                                <p>UTF-8: O último encoding que você precisará.</p>
                                <a href="{{ link_who }}/{{ speakerName[8] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 14:00</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Galvão Abbott</h2>
                                <p>Logs: Porque um ElePHPant tem que ter boa memória!</p>
                                <a href="{{ link_who }}/{{ speakerName[2] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">10 de Novembro - 14:40</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>ENCERRAMENTO DO PRIMEIRO DIA</h2>
                                <span class="timelineDate">10 de Novembro - 15:20</span>
                            </div>
                        </div>
                    </section>

                    <h1 class="textCenter textWhite">DIA 11</h1>
                    <section id="timeline" class="timelineContainer">

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>
                            <div class="timelineContent">
                                <h2>CREDENCIAMENTO</h2>
                                <span class="timelineDate">11 de Novembro - 8:00</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Paulo Ricardo</h2>
                                <p>À definir...</p>
                                <span class="timelineDate">11 de Novembro - 9:10</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Nanderson Castro</h2>
                                <p>JWT Com Symfony</p>
                                <a href="{{ link_who }}/{{ speakerName[7] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">11 de Novembro - 9:40</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Atmos Maciel</h2>
                                <p>Micro Frameworks: sua aplicação na crista da onda.</p>
                                <a href="{{ link_who }}/{{ speakerName[4] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">11 de Novembro - 11:50</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Fabio Soares</h2>
                                <p>A crise do JavaScript.</p>
                                <a href="{{ link_who }}/{{ speakerName[6] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">11 de Novembro - 13:00</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Henrique Monteiro</h2>
                                <p>Segurança da informação e Pentest.</p>
                                <a href="{{ link_who }}/{{ speakerName[12] }}/" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">11 de Novembro - 13:40</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>ENCERRAMENTO DO EVENTO</h2>
                                <span class="timelineDate">11 de Novembro - 15:00</span>
                            </div>
                        </div>
                    </section>
                    <!-- timeline -->

                    <aside class="textWhite textCenter">
                        <a href="https://www.sympla.com.br/7php--forum-de-profissionais-php-do-maranhao__90935" target="_blank" class="button buttonSecondary bigger">INSCREVA-SE</a>
                        <br><br>
                    </aside>
            </div>
        </article>
        <br>
    </main>

<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/who.js"></script>
{% endblock %}
