{% extends '/templates/templateWhen.twig' %}

{% block content %}
    {% include '/includes/navbar.twig' %}
    <main class="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>Programação</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column">

                    <section id="timeline" class="timelineContainer">

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>

                            <div class="timelineContent">
                                <h2>Minu Curso</h2>
                                <p>Ainda não definido ...</p>
                                {#<a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>#}
                                <span class="timelineDate">10 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Mini Curso</h2>
                                <p>Ainda não definido...</p>
                                {#<a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>#}
                                <span class="timelineDate">10 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>Credenciamento</h2>
                                <h3>08h00</h3>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>

                            <div class="timelineContent">
                                <h2>Solenidade de Abertura</h2>
                                <h3>08h30</h3>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Atmos Maciel</h2>
                                <h3>09h00 - 09h40</h3>
                                <h4>Ainda não definido</h4>
                                <a href="{{ link_who }}/{{ speakerName[0] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>Evaldo Barbosa</h2>
                                <h3>09h40 - 10h20</h3>
                                <h4>Por que é tão difícil um programador empreender?</h4>
                                <a href="{{ link_who }}/{{ speakerName[1] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>

                            <div class="timelineContent">
                                <h2>Fabio Soares</h2>
                                <h3>10h20 - 11h00</h3>
                                <h4>A definir...</h4>
                                <a href="{{ link_who }}/{{ speakerName[2] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Nanderson Castro</h2>
                                <h3>11h00 - 12h00</h3>
                                <h4>JWT Com Symfony</h4>
                                <a href="{{ link_who }}/{{ speakerName[3] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>Almoço</h2>
                                <h3>12h00 - 13h30</h3>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg green"></div>

                            <div class="timelineContent">
                                <h2>Ricardo Coelho</h2>
                                <h3>13h30 - 14h10</h3>
                                <h4>PHP & Templates SVG - Documentos instantâneos</h4>
                                <a href="{{ link_who }}/{{ speakerName[4] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow"></div>

                            <div class="timelineContent">
                                <h2>Willian mano</h2>
                                <h3>14h10 - 14h50</h3>
                                <h4>Fazer software livre é fácil, difícil é manter.</h4>
                                <a href="{{ link_who }}/{{ speakerName[5] }}/" class="timelineButton button buttonSecondary">Saiba mais</a>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red"></div>

                            <div class="timelineContent">
                                <h2>Encerramento</h2>
                                <span class="timelineDate">11 de Novembro</span>
                            </div>
                        </div>
                    </section>
                    <!-- timeline -->

                    <aside class="textWhite textCenter">
                        <a href="https://www.sympla.com.br/7php--forum-de-profissionais-php-do-maranhao__90935" target="_blank" class="button buttonSecondary bigger">INSCREVA-SE</a>
                        <br><br>
                    </aside>
            </div>
        </article>
        <br>
    </main>

<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/who.js"></script>
{% endblock %}
