{% extends '/templates/templateSpeaker.twig' %}

{% block content %}
    {% include '/includes/navbar.twig' %}
    <main class="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>{{ name }}</h1>
            </div>
        </header>
        <article class="container textWhite textJustify content">
            <div class="grid gridResponsive">
                <div class="column">
                    <p>{{ description }}</p>
                </div>
                <div class="column">
                    {% if photo_speaker == false %}
                        <img src="/assets/img/img.png" class="imgResponsive imgCenter">
                    {% else %}
                        <img src="/assets/img/speakers/{{ photo_speaker }}" class="imgResponsive imgCenter">
                    {% endif %}
                        <p class="socialNetworkLinks textCenter">
                            {% for key, social in socialNetWork %}
                                <a href="{{ social }}" target="_blank"><span class="icon {{ key }}Icon"></span></a>
                            {% endfor %}
                        </p>
                </div>
            </div>
        </article>
        <br>
        <header class="sectionHeader who">
            <div class="container">
                <h1>{{ type }}</h1>
            </div>
        </header>
        <article class="container textWhite textJustify content">
            <div class="grid gridResponsive">
                <div class="column">
                    <img src="/assets/img/{{ slidePhoto }}" class="imgResponsive imgCenter">
                </div>
                <div class="column">
                    <h1>{{ slideName }}</h1>
                    <p>
                        {{ slideDescription }}
                    </p>
                    <p>
                        <a href="{{ slideLink }}" class="button buttonPrimary" target="_blank"><span class="icon documentIcon"></span> Slide</a>
                    </p>
                </div>
            </div>
        </article>
    </main>
<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/who.js"></script>
{% endblock %}
